
pandas introduces two new data structures to Python - Series and DataFrame, both of which are built on top of NumPy (this means it's fast).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [2]:
#create a Series with an arbitrary list
lst = ["1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean", 0.6615157480314962, "LogisticRegression_cv_real_accuracy_var", 0.006677417290381456, "balanced_accuracy_mean", 0.6407544723878662, "balanced_accuracy_var", 0.007419682842323463, "precision_mean", 0.6492852723697509, "precision_var", 0.0043547275072768855, "recall_mean", 0.8542857142857143, "var", 0.007787755102040816, "f1_mean", 0.7350087620812211, "f1_var", 0.0037145063261670623, "roc_auc_mean", 0.7881941923774954, "var", 0.012534935701240119, "fake_accuracy_mean", 0.6615157480314962, "fake_accuracy_var", 0.006677417290381456]
series = pd.Series(lst)
print(series)

0     1-0-0 char-word-func_LogisticRegression_cv_rea...
1                                              0.661516
2               LogisticRegression_cv_real_accuracy_var
3                                            0.00667742
4                                balanced_accuracy_mean
5                                              0.640754
6                                 balanced_accuracy_var
7                                            0.00741968
8                                        precision_mean
9                                              0.649285
10                                        precision_var
11                                           0.00435473
12                                          recall_mean
13                                             0.854286
14                                                  var
15                                           0.00778776
16                                              f1_mean
17                                             0.735009
18                                               f1_var
19                                           0.00371451
20                                         roc_auc_mean
21                                             0.788194
22                                                  var
23                                            0.0125349
24                                   fake_accuracy_mean
25                                             0.661516
26                                    fake_accuracy_var
27                                           0.00667742
dtype: object

In [3]:
Snd = ['Maaz',24, 'Height: 173 cm','Weight in kg:',78]
new_series = pd.Series(Snd)
print(new_series)

0              Maaz
1                24
2    Height: 173 cm
3     Weight in kg:
4                78
dtype: object

Alternatively, you can specify an index to use when creating the Series.

In [4]:
#create a Series with an arbitrary list
series = pd.Series(["1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean", 0.661515748,
                    "LogisticRegression_cv_real_accuracy_var", 0.0066], 
                   index = ['A','B','C','D'])
print(series)

A    1-0-0 char-word-func_LogisticRegression_cv_rea...
B                                             0.661516
C              LogisticRegression_cv_real_accuracy_var
D                                               0.0066
dtype: object

The Series constructor can convert a dictonary as well, using the keys of the dictionary as its index

In [5]:
#In the dictionary form
clas = {"1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean": 0.6615157480314962, 
        "LogisticRegression_cv_real_accuracy_var": 0.006677417290381456, 
        "balanced_accuracy_mean": 0.6407544723878662, "balanced_accuracy_var": 0.007419682842323463,
        "precision_mean": 0.6492852723697509, "precision_var": 0.0043547275072768855,
        "recall_mean": 0.8542857142857143, "var": 0.007787755102040816, 
        "f1_mean": 0.7350087620812211, "f1_var": 0.0037145063261670623, 
        "roc_auc_mean": 0.7881941923774954, "var": 0.012534935701240119, 
        "fake_accuracy_mean": 0.6615157480314962, "fake_accuracy_var": None}
S = pd.Series(clas)
print(S)

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean    0.661516
LogisticRegression_cv_real_accuracy_var                          0.006677
balanced_accuracy_mean                                           0.640754
balanced_accuracy_var                                            0.007420
precision_mean                                                   0.649285
precision_var                                                    0.004355
recall_mean                                                      0.854286
var                                                              0.012535
f1_mean                                                          0.735009
f1_var                                                           0.003715
roc_auc_mean                                                     0.788194
fake_accuracy_mean                                               0.661516
fake_accuracy_var                                                     NaN
dtype: float64

In [6]:
Send = {'Name': 'Maaz', 'Height': '173 cm','Weight in kg:': '78 kg'}
new_series = pd.Series(Send)
print(new_series)

Name               Maaz
Height           173 cm
Weight in kg:     78 kg
dtype: object

In [7]:
S['f1_mean']

0.7350087620812211

In [8]:
S[['f1_mean', 'f1_var']]

f1_mean    0.735009
f1_var     0.003715
dtype: float64

Or you can use boolean indexing for selection

In [9]:
#Shows only those in the series ('S') who has vales less than 0.70
S[S<0.70]

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean    0.661516
LogisticRegression_cv_real_accuracy_var                          0.006677
balanced_accuracy_mean                                           0.640754
balanced_accuracy_var                                            0.007420
precision_mean                                                   0.649285
precision_var                                                    0.004355
var                                                              0.012535
f1_var                                                           0.003715
fake_accuracy_mean                                               0.661516
dtype: float64

let's make it more clear - S < 0.70 returns a Series of True/False values, which we then pass to our Series S, returning the corresponding True items.

In [10]:
less_than_070 = S < 0.70
print(less_than_070)

print('\n')

print(S[less_than_070])

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean     True
LogisticRegression_cv_real_accuracy_var                           True
balanced_accuracy_mean                                            True
balanced_accuracy_var                                             True
precision_mean                                                    True
precision_var                                                     True
recall_mean                                                      False
var                                                               True
f1_mean                                                          False
f1_var                                                            True
roc_auc_mean                                                     False
fake_accuracy_mean                                                True
fake_accuracy_var                                                False
dtype: bool


1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean    0.661516
LogisticRegression_cv_real_accuracy_var                          0.006677
balanced_accuracy_mean                                           0.640754
balanced_accuracy_var                                            0.007420
precision_mean                                                   0.649285
precision_var                                                    0.004355
var                                                              0.012535
f1_var                                                           0.003715
fake_accuracy_mean                                               0.661516
dtype: float64

You can also change the values in a Series on the fly

In [11]:
# changing based on the index
print('precision_mean:', S['precision_mean'])
S['precision_mean'] = 80
print('New value of precision_mean :', S['precision_mean'])

precision_mean: 0.6492852723697509
New value of precision_mean : 80.0

In [12]:
# changing values using boolean logic
print(S[S < 0.70])
print('\n')

S[S < 0.70] = 0.68

print (S[S < 0.70])

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean    0.661516
LogisticRegression_cv_real_accuracy_var                          0.006677
balanced_accuracy_mean                                           0.640754
balanced_accuracy_var                                            0.007420
precision_var                                                    0.004355
var                                                              0.012535
f1_var                                                           0.003715
fake_accuracy_mean                                               0.661516
dtype: float64


1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean    0.68
LogisticRegression_cv_real_accuracy_var                          0.68
balanced_accuracy_mean                                           0.68
balanced_accuracy_var                                            0.68
precision_var                                                    0.68
var                                                              0.68
f1_var                                                           0.68
fake_accuracy_mean                                               0.68
dtype: float64

What if you aren't sure whether an item is in the Series? You can check using idiomatic Python.

In [13]:
print('Seattle' in S)
print('f1_var' in S)

False
True

Mathematical operations can be done using scalars and functions.

In [14]:
# divide city values by 3
S / 3

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean     0.226667
LogisticRegression_cv_real_accuracy_var                           0.226667
balanced_accuracy_mean                                            0.226667
balanced_accuracy_var                                             0.226667
precision_mean                                                   26.666667
precision_var                                                     0.226667
recall_mean                                                       0.284762
var                                                               0.226667
f1_mean                                                           0.245003
f1_var                                                            0.226667
roc_auc_mean                                                      0.262731
fake_accuracy_mean                                                0.226667
fake_accuracy_var                                                      NaN
dtype: float64

In [15]:
# square city values
np.square(S)

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean       0.462400
LogisticRegression_cv_real_accuracy_var                             0.462400
balanced_accuracy_mean                                              0.462400
balanced_accuracy_var                                               0.462400
precision_mean                                                   6400.000000
precision_var                                                       0.462400
recall_mean                                                         0.729804
var                                                                 0.462400
f1_mean                                                             0.540238
f1_var                                                              0.462400
roc_auc_mean                                                        0.621250
fake_accuracy_mean                                                  0.462400
fake_accuracy_var                                                        NaN
dtype: float64

You can add two Series together, which returns a union of the two Series with the addition occurring on the shared index values. Values on either Series that did not appear in both series will produce a NULL/NaN (not a number).

In [16]:
print(S[['f1_mean', 'fake_accuracy_mean', 'roc_auc_mean ']])
print('\n')
print(S[['var', 'precision_var ']])
print('\n')
print(S[['f1_mean', 'fake_accuracy_mean', 'roc_auc_mean ']] + S[['f1_mean', 'precision_var ']])

f1_mean               0.735009
fake_accuracy_mean    0.680000
roc_auc_mean               NaN
dtype: float64


var               0.68
precision_var      NaN
dtype: float64


f1_mean               1.470018
fake_accuracy_mean         NaN
precision_var              NaN
roc_auc_mean               NaN
dtype: float64

E:\Anaconda\lib\site-packages\pandas\core\series.py:850: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Notice that because f1_mean found in both Series, it was returned with values. Others did not find in both series which gave NULL/NaN values.

NULL checking can be performed with isnull and notnull.

In [17]:
# returns a boolean series indicating which values aren't NULL
S.notnull()

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean     True
LogisticRegression_cv_real_accuracy_var                           True
balanced_accuracy_mean                                            True
balanced_accuracy_var                                             True
precision_mean                                                    True
precision_var                                                     True
recall_mean                                                       True
var                                                               True
f1_mean                                                           True
f1_var                                                            True
roc_auc_mean                                                      True
fake_accuracy_mean                                                True
fake_accuracy_var                                                False
dtype: bool

In [18]:
# use boolean logic to grab the NULL in the series
print(S.isnull())
print('\n')

#Show which value in the series is null
print(S[S.isnull()])

1-0-0 char-word-func_LogisticRegression_cv_real_accuracy_mean    False
LogisticRegression_cv_real_accuracy_var                          False
balanced_accuracy_mean                                           False
balanced_accuracy_var                                            False
precision_mean                                                   False
precision_var                                                    False
recall_mean                                                      False
var                                                              False
f1_mean                                                          False
f1_var                                                           False
roc_auc_mean                                                     False
fake_accuracy_mean                                               False
fake_accuracy_var                                                 True
dtype: bool


fake_accuracy_var   NaN
dtype: float64

#### DataFrame


A DataFrame is a tablular data structure comprised of rows and columns, akin to a spreadsheet, database table, or R's data.frame object. You can also think of a DataFrame as a group of Series objects that share an index (the column names).

For the rest of the tutorial, we'll be primarily working with DataFrames.

#### Reading Data



To create a DataFrame out of common Python data structures, we can pass a dictionary of lists to the DataFrame constructor.

Using the columns parameter allows us to tell the constructor how we'd like the columns ordered. By default, the DataFrame constructor will order the columns alphabetically (though this isn't the case when reading from a file - more on that next).

###### Creating a data frame

In [19]:
#lets say,Maaz participated in PAN competitions
data = {'year': [2015,2016,2017,2018,2019],
        'Teams':['Maaz_MIPT','Maaz_SK','Maaz_GCU','Maaz_CIC','Maaz_CIC-IPN'],
        'Win':  [0,1,0,1,1],
        'Loss': [1,1,3,0,0],
       'Played': [1,2,3,1,1]}
PAN = pd.DataFrame(data, columns = ['year','Teams','Win','Loss','Played'] )
PAN

   year         Teams  Win  Loss  Played
0  2015     Maaz_MIPT    0     1       1
1  2016       Maaz_SK    1     1       2
2  2017      Maaz_GCU    0     3       3
3  2018      Maaz_CIC    1     0       1
4  2019  Maaz_CIC-IPN    1     0       1

Much more often, you'll have a dataset you want to read into a DataFrame. Let's go through several common ways of doing so.

##### CSV

Reading a CSV is as simple as calling the read_csv function. By default, the read_csv function expects the column separator to be a comma, but you can change that using the sep parameter.

In [27]:
!head -n 5 New_mariano-rivera.csv

Year,Age,Time,League,Win,Loss,Win-Loss%
1995,25,NYY,AL,5,3,0.625
1996,26,NYY,AL,8,3,0.727
1997,27,NYY,AL,6,4,0.6
1998,28,NYY,AL,3,0,1

In [34]:
from_csv = pd.read_csv('New_mariano-rivera.csv')
from_csv.head(7)

   Year  Age        Time League  Win  Loss  Win-Loss%
0  1995   25     morning     AL    5     3      0.625
1  1996   26     evening     AL    8     3      0.727
2  1997   27     morning     AL    6     4      0.600
3  1998   28     evening     AL    3     0      1.000
4  1999   29  after noon     AL    4     3      0.571
5  2000   30     morning     AL    7     4      0.636
6  2001   31     evening     AL    4     6      0.400

In [36]:
cols = ['num', 'game', 'date', 'team', 'home_away', 'opponent',
        'result', 'quarter', 'distance', 'receiver', 'score_before',
        'score_after', 'num', 'game', 'date', 'team', 'home_away', 'opponent',
        'result', 'quarter', 'distance', 'receiver', 'score_before',
        'score_after']
no_headers  = pd.read_csv('New_mariano-rivera.csv', sep=',', header=None,
                         names=cols)
no_headers.head()

E:\Anaconda\lib\site-packages\pandas\io\parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)

,num,game,date,team,home_away,opponent,result,quarter,distance,receiver,score_before,score_after,num.1,game.1,date.1,team.1,home_away.1,opponent.1,result.1,quarter.1,distance.1,receiver.1,score_before.1,score_after.1
0,Year,Age,Time,League,Win,Loss,Win-Loss%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995,25,morning,AL,5,3,0.625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996,26,evening,AL,8,3,0.727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,27,morning,AL,6,4,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1998,28,evening,AL,3,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN